.mt-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mt-header {
    display: flex;
    justify-content: center;
    padding: 0px 15px;
    align-items: center;
    flex: 1;
    max-height: 50px;
}

.mt-header button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: beige;
    border: none;
    z-index: 5;
}

.mt-outlet {
    flex: 8;
}

.mt-nz-tabs {
    flex: 1;
    max-height: 50px;
}

.btn-add {
    position: fixed;
    top: 92%;
    left: 83%;
    z-index: 5;
}

.btn-add button {
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    font-size: 2.6rem;
    margin: auto;
    color: white;
    z-index: 5;
}

.mt-nz-segmented {
    display: flex;
    margin: auto;
}