/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
    width: 100vw;
    height: 100vh;
}


@media screen and (max-width: 429px) {
    body {
        font-size: 1.4rem;
        width: 100%;
        height: 100%;
    }   

    header {
        background-color: #141414;
        color: white;
    }

    button {
        background-color: #141414;
        color: white;
    }
}
